@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>This is a simple image storing project that enable user to upload, view and delete their pictures.</h5>
    <b>Project developer : joe</b>
</div>
